@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
.hero{
    width: 100%;
    height: calc(100vh - 6.5rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.5rem;
    margin-top: 10rem;
}
.himage{
    /* height: 45rem; */
    margin-top: -150px;
    margin-left: 80px;
    width: auto;
    border-radius: 50%;
    overflow: visible;
    clip-path: ellipse(45% 40% at 41% 59%);
}
.himage img{
    width: 90%;
    object-fit: cover;
    object-position: center;
    animation: anm 1s alternate-reverse 3;
}
@keyframes anm{
    0%{
      transform:translateY(-25px);
    }
    100%{
      transform:translateY(40px);
    }
  }
.content{
    margin-right: 25rem;
    font-weight: 800;
}
.content p{
    margin-bottom: 1rem;
    font-size: 3rem;
    letter-spacing:.5rem;
    color: #fff;
    font-weight: 200;
}
.content h2{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--white);
}
.content p span{
    color: var(--saffron);
}
.content h2 span{
    font-size: 5rem;
    color:var(--saffron);
    letter-spacing:.5rem;
    font-family: 'Neuton', serif;

}
.content .btns button{
    width: 8.5rem;
    height: 5rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    border: none;
    border-radius: 1.5rem;
    margin-top: 2rem;
    transition: .3s;
    color: var(--saffron);
}

.content .btns .btn1{
    width: 10rem;
    background-color: var(--saffron);
    color: #ffffff;
}

.content .btns .btn2{
    width: 10rem;
    background: transparent;
    border: 1px solid var(--saffron);
}
.content .btns .btn1:hover{
    background-color: var(--lwhite);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--saffron);
    border: 1px solid var(--saffron);
}
.content .btns .btn2:hover{
    background-color: var(--saffron);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #ffffff;
    border: none;
}

@media(max-width:1100px){
    .hero{
        margin-bottom: 1rem;
    }
    .himage img{
        width: 75%;
        clip-path: ellipse(45% 40% at 41% 59%);
    }
    .content{
        margin-right: 5rem;
        font-weight: 800;
    }
    .content p{
        font-size: 2rem;
    }
    .content h2{
        font-size: 2.5rem;
    }
    .content h2 span{
        font-size: 3rem;
    }
    .content .btns button{
        font-size: 1.3rem;
    }
}

@media(max-width:850px){
    .content p{
        font-size: 1.6rem;
        letter-spacing: .2rem;
    }
    .content h2{
        font-size: 2rem;
    }
    .content h2 span{
        font-size: 2.5rem;
        letter-spacing: .2rem;
    }
    .navbar .links .navul-mobile{
        display: none;
    }
}

@media(max-width:550px){
    .hero{
        flex-direction: column;
    }
    .himage{
        margin-left: 50px;
    }
    .himage img{  
        width: 75%;
        margin-left: 45px;
        margin-top: 60px;
        clip-path: ellipse(50% 40% at 47% 59%);
    }

    .content{
        margin-left: 4rem;
        margin-right: 0;
        font-weight: 800;
    }
    .content p{
        font-size: 2rem;
    }
    .content h2{
        font-size: 2.5rem;
    }
    .content h2 span{
        font-size: 3rem;
    }
    .content .btns button{
        font-size: 1.3rem;
    }
}
@media(max-width:400px){
    .himage{
        clip-path: none;
        border-radius: 0;
        height: 30rem;
        margin-left: 5rem;
        margin-bottom: -10rem;
    }

    .content{
        /* margin: 0; */
        padding: 0;
    }
    .content p{
        font-size: 2rem;
    }
    .content h2{
        font-size: 2.5rem;
    }
    .content h2 span{
        font-size: 3rem;
    }
    .content .btns button{
        font-size: 1.3rem;
    }
    .himage img{  
        width: 75%;
        margin-left: 25px;
        margin-top: 30px;
        clip-path: ellipse(50% 40% at 47% 59%);
    }
}