.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem;
}
.container h1{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 5rem 0;
}
.mainskills {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}

.container .skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35rem;
    border-radius: 2rem;
    margin: 5rem;
    padding: 1rem;
    background: linear-gradient(to top right,var(--black) 70%, var(--saffron) 30%);
    border: 1px solid var(--saffron);
}

.container .skills img{
    width: 10rem;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.container .skills h2{
    font-size: 1.8rem;
    color: var(--white);
    margin-right: 40px;
}
.container .skills p{
    font-size: 1.4rem;
    margin: .5rem;
}
.container .skills:hover{
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}


@media(min-width:686px) and (max-width:1000px){
    .container .skills{
        width: 25rem;
        margin: 2rem;
    }
    .container .skills h2{
        font-size: 1.8rem;
    }
    .container .skills p{
        font-size: 1.3rem;
        margin: .5rem;
    }
}

@media(max-width:685px){
    .container{
        padding: 2rem;
    }
    .container .skills{
        width: 100%;
        margin: 2rem;
    }
    .container .skills h2{
        font-size: 1.8rem;
    }
    .container .skills p{
        font-size: 1.3rem;
        margin: .5rem;
    }
}


@media(max-width:450px){
    .container .skills img{
        width: 7rem;
        height: auto;
    }
    .container .skills h2{
        font-size: 1.5rem;
    }
    .container .skills p{
        font-size: 1.2rem;
        margin: .5rem;
    }
}