@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neuton', serif;
  font-family: 'Poppins', sans-serif;
}
:root{
  --black:#32322c;
  --saffron:#f0932b;
  --white:#fff;
  --lwhite:#c7c6c6;
}
p{
  color: var(--lwhite);
}
h1,h2,h3{
  color: var(--saffron);
}
body{
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(to top right,#f6f1a8  70%,#005AA7 30%); */
  /* background: linear-gradient(to top right,#beeb86  70%,#56ab2f 30%); */
  /* background: linear-gradient(to top left,var(--blue),var(--black)); */
  background-color: var(--black);
  background-attachment: fixed;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
button{
  cursor: pointer;
}